
@general_color: rgb(61,100,176);
@gray: rgb(230,230,230);
@footer_color: rgb(91,91,91);
@font: "Myriad Pro", Arial;

body{
	margin: 0;
	padding: 0;
	font-family: @font;
}
p, h1, h2, h3, ul, li{
	 margin: 0;
}
ul{
	list-style-image: url(icons/circle.png);
	-webkit-margin-start: -15px;
}
#footer{
	color: @footer_color;
	text-align: center;
	font-size: 30px;
    font-weight: 900;
	.icon{
		display: inline-block;
		height: 68px;
		width: 87px;
		background: url(icons/robot.png);
	}
	a{
		color: @footer_color;
		cursor: pointer;
		font-size: 45px;
		text-decoration: none;
	}
}
	

#footer {
	p, a, .icon{
		display: inline-block;
	}
}


h1, h2, h3{
	font-size: 69px;
	font-weight: bold;
}

.container-fluid {
	padding-left: 5px;
	width: 1457px;
	margin-left: auto;
	margin-right: auto;
    margin-top: 83px;
	.block-left{
		padding-right: 70px;
	.block-circle{
		height: 280px;
	 .circle{
		 height: 250px;
		 width: 250px;
		 border: 1px solid @general_color
	}
	.circle{
		&.white{
			margin-top: 12px;
			margin-left: auto;
			margin-right: auto;
			background: white;
		}
 	    &.blue{
			width: 220px;
			height: 220px;
			margin-left: 14px;
			margin-top: 14px;
			background: @general_color;
			}
		 }
		}
	}
}

.circle{
	border-radius: 50%;
}
.education{
	&.section{
		.header{
			margin-bottom: 12px;
			}
	}
}

.rating{
	.circle{
		display:inline-block;
		height: 20px;
		width: 20px;
		margin: 5px auto;
		margin-right: 6px;
		&.blue{
			background: @general_color;
		}
		&.gray {
			background: @gray;
			}
		}
}
.block-info{
	text-align: center;
    margin-bottom: 79px;
	h1{
		letter-spacing: -3px;
		height: 56px;
		font-size: 66px;
		font-weight: 100;
	}
	h2{
		letter-spacing: -1px;
		height: 81px;
	}
	h3{
		letter-spacing: 1px;
		font-size: 24px;
		}
}

.section{
	margin-bottom: 48px;
}
.block-right{
	 .section{
	margin-right: 6px;
	}
}
.profile{
	&.section {
		.title::before{	
			background: url(icons/profile-icon.jpg);
		}
}
}
.contact{
	&.section {
		.title::before{
	background: url(icons/contact-icon.jpg);
		}
}
}
.skills{
	&.section{
	 .title::before{
	background: url(icons/skills-icon.jpg);
	 }
	}
}
.education{
	&.section{
		 .title::before {
			 background: url(icons/education-icon.jpg);
		 }
	}
}
.experience{
	&.section{ 
		.title::before{
    margin-right: 8px;
    background: url(icons/experience-icon.jpg);
		}
	}
}
.softwares{
	&.section{
		 .title::before{
			 background: url(icons/software-icon.jpg);
		 }
	}

}
.section{
	 .header{
     .title::before{
	content: "";
	display: inline-block;
	margin-right: 7px;
	height: 82px;
	width: 82px;
	float: left;
	border-radius: 50%;
	background-size: 100%;
	background-repeat: no-repeat;
	 }
	 }
}

.section {
	.header{
	 .title{
	display: inline-block;
    font-weight: bold;
    margin-top: 18px;
    letter-spacing: 1px;
		color: @general_color;
	font-size: 43px;
	 }
	}
}

.text {
	letter-spacing: 0px;
    font-size: 17px;
    word-spacing: 0px;
}
.header{
	display: inline-block;
}
.header:after {
    content:"";
    display: inline-block;
    height: 52px;
    vertical-align: bottom;
    width: 100%;
    margin-right: -100%;
    margin-left: 3px;
    border-top: 4px solid rgb(61,108,176);
   clear: both;
}
.contact{
	margin-top: 23px;
    margin-bottom: 31px;
	.text{
	font-size: 23px;
	display: inline-block;
}
}
label{
	font-size: 22px;
	font-weight: bold;
	display: inline-block;
	color: @general_color;
}

.section {
	.content{
	padding-top: 7px;
	}
}
.skill{
	text-align: center;
	margin-bottom: 13px;
	.name{
	font-size: 28px;
	margin-top: 10px;
}
}


.degree{
	margin-bottom: 14.7px;
    margin-left: 15px;
	.time{
	color: black;
	font-weight: 100;
	word-spacing: -1px;
    font-size: 29px;
    letter-spacing: 0px;
	}
	.name,.time,.circle{
	letter-spacing: 1px;
	display: inline-block;
}
	.info {
	margin-left: 43px;
	margin-bottom: -5px;
}
.text{
	padding-top: 7px;
}
.circle{
	margin-top: 10px;
	background: black;
	width: 20px;
	height:20px;
	float:left;
}
 .place {
	font-size: 28px;
	padding-top: 2px;
}
.name{
	font-size: 26px;
}
	
}
.software-table{
	display: table;
	width: 100%;
	margin-left: 9px;
}

.job{
	&.degree{
	 .name{
	padding: 1px;
	color: black;
	}
	.time{
	color: black;
	}
	 .info{
	padding-top: 1px;
	}
}}


.software{
	padding-left: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	.name{
		font-size: 28px;
	}

}

.level{
	height: 24px;
	margin-top: 10px;
	margin-bottom: 7px;
	background: @gray;
	.success{
	width: 48%;
	height: inherit;
	background: @general_color;
	display: inline-block;
	}
}

.photoshop {
	.level {
		.success{
			width: 90%;
		}
	}
}
.dreamweaver{
	.level{
		.success{
			width: 80%;
		}
	}
}
.illustr{
	.level{
		.success{
			width: 70%;
		}
	}
}
.eff{
	.level{
		.success{
			width: 60%;
			}
	}
}
.html{
	.level{
	 .success{
		 width: 89%;
		 }
	}
}
.indes{
	.level{
		.success{
			width: 56%;
			}
			}
}